.mat-toolbar.mat-primary.mat-toolbar-single-row {
  background-color: #DD9200;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: var(--mat-toolbar-standard-height);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


    .translation {
      display: flex;
      align-items: center;

      .mat-mdc-button:not(:disabled) {
        font-weight: bold;
        background-color: white;
        font-size: 15px;
        color: #DD9200
    }

      .filler {
        flex: 1;
      }
    }
  }
}
