body{
  background-color: #dd930014;
}
mat-card{
  width: 35%;
  margin: auto;
  // margin-top: 15rem;
  margin-bottom: 10%;
  padding-top: 60px;
  padding-bottom: 60px;

}

p{
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

mat-form-field,
textarea{
  width: 100%;
}

mat-grid-tile {
  background: lightblue;
}
mat-grid-tile-content{
  border: 5px;
}
.center{
  justify-content: center;
  display: flex;
  .primary{
  background-color: #DD9200;
  color: white;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  }
  .personIcon{
    transform: scale(2.5);
    padding-bottom: 10px;
    color: #DD9200;
  }

  .text{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
}
.error-msg{
  padding-top: 10px;
  color: red;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
