<div class="main">
  <app-header></app-header>
  <mat-card>
    <div class="center">
      <div class="enterIcon">
        <mat-icon>login</mat-icon>
      </div>
    </div>
    <div class="center">
      <div class="text">Table Entrance</div>
    </div>
    <form
      (submit)="onEnterTable(tableEntranceForm)"
      #tableEntranceForm="ngForm"
    >
      <mat-form-field>
        <input
          matInput
          type="text"
          name="tableId"
          ngModel
          required
          placeholder="Table ID"
          #tableIdInput="ngModel"
        />
        <mat-error *ngIf="tableIdInput.invalid"
          >Please enter a valid Table ID.</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="texts"
          name="password"
          ngModel
          required
          placeholder="Password"
          #passwordInput="ngModel"
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password.</mat-error
        >
      </mat-form-field>
      <div class="center">
        <button class="primary" mat-raised-button type="submit">
          Enter Table
        </button>
      </div>
    </form>
    <div class="error-msg">
      <p *ngIf="tableCheck === true">
        Wrong Table Credentials Or Table Occupied
      </p>
    </div>
  </mat-card>
  <!-- <app-footer></app-footer> -->
</div>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
