
.main{
  background-color: #dd930014;
  padding-bottom: 40%;
}
mat-card{
  margin-top: 40%;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 60px;
  padding-bottom: 30px;

}
mat-form-field,
textarea{
  width: 100%;
}

mat-grid-tile {
  background: lightblue;
}
mat-grid-tile-content{
  border: 5px;
}
.center{
  justify-content: center;
  display: flex;
  .primary{
  background-color: #DD9200;
  color: white;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 15%;
  }
  .enterIcon{
    transform: scale(2.5);
    padding-bottom: 10px;
    color: #DD9200;
  }

  .text{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-bottom: 10%;
  }
}
.error-msg{
  padding-top: 15px;
  p{
    color: rgba(255, 0, 0, 0.697);
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}
