:root {
  --primary: #DD9200;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 250px;
}

mat-drawer-container {
  height: 100%;
  position: inherit;
}

mat-card-header {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 7px;
}

mat-drawer-content {
  padding: 20px;
}

mat-grid-tile {
  background-color: #dd930014;
}

.ordersContainer {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  .orderCard {
    padding-top: 40px;
    background-color: white;
  }

  .tableCard {
    padding-top: 30px;
    background-color: white;
  }

  .orderContent {
    font-size: 16px;
    color: #DD9200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 6px;


  }

  .mat-fab {
    left: 60px;
    top: 35px;
    background-color: #DD9200;
    z-index: 1;
  }

  .dateTime {
    font-size: 15px;
  }
}

.active {
  font-size: 16px;
  color: forestgreen;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-bottom: 6px;
}

.tableNumber {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 15px;
}
