<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Admin</h1>
    <span class="menu-spacer"></span>
    <div> -->
<!-- <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a> -->

<!-- </div>
  </mat-toolbar-row>
</mat-toolbar> -->
<app-header></app-header>
<div>
  <mat-drawer-container class="dashboard">
    <mat-drawer mode="side" opened>
      <app-sidebar></app-sidebar>
      <br />
      <mat-slide-toggle
        [(ngModel)]="isChecked"
        (change)="onChange($event.checked)"
      >
        {{ isChecked ? "ON" : "OFF" }}</mat-slide-toggle
      >
    </mat-drawer>
    <mat-drawer-content>
      <mat-card>
        <mat-card-header>Active Tables</mat-card-header>
        <mat-grid-list cols="1" rowHeight="6:1">
          <mat-grid-tile>
            <div class="ordersContainer" *ngFor="let key of tables">
              <mat-card class="tableCard">
                <div class="tableNumber">Table {{ key.tableId }}</div>
                <div class="active">active</div>
                <div class="dateTime">{{ key.timeDate }}</div>
              </mat-card>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-header>Orders Queue</mat-card-header>
        <mat-grid-list cols="1" rowHeight="4:1">
          <mat-grid-tile>
            <div class="ordersContainer" *ngFor="let key of orders; index as i">
              <button mat-fab (click)="onCompleteOrder(i)">
                <mat-icon>close</mat-icon>
              </button>
              <mat-card class="orderCard">
                <div>
                  <div class="tableNumber">Table {{ key.tableId }}</div>
                </div>
                <div class="orderContent">{{ key.content }}</div>
                <div class="dateTime">{{ key.timeDate }}</div>
              </mat-card>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
