:root{
  --primary: #DD9200;
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 250px;
}

mat-drawer-container {
  height: 100%;
}
mat-card-header{
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 7px;
}

mat-drawer-content {
  padding: 20px;
}
mat-grid-tile{
  background-color: #dd930014;
}
.ordersContainer{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  .orderContent{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace

  }
  .mat-fab {
    left:60px;
    top:-35px;
    background-color: #DD9200;
  }
}
