<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h3>Admin Dashboard</h3>
    </div>
    <img src="../../assets/logo.svg" alt="Blink" />
  </div>

  <!-- <mat-divider></mat-divider> -->

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"></a> -->
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addTable">
    <mat-icon>add</mat-icon>
    Add Table
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addMenuItem">
    <mat-icon>restaurant</mat-icon>
    Menu Items
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    href="../../assets/qr.png"
    target="_blank"
  >
    <mat-icon>download</mat-icon>
    QR Code
  </a>
  <mat-divider></mat-divider>
  <br />

  <a
    (click)="logout()"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/login"
  >
    <mat-icon>logout</mat-icon>
    Logout
  </a>

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>contact_phone</mat-icon>
      Leads
  </a> -->
</mat-nav-list>
