.main {
  background-color: #dd930014;
  padding-bottom: 20%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px; // Adjust as needed

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; // Adjust the size of the logo
    height: 60px; // Adjust the size of the logo
    background-color: #DD9200; // Background color of the logo
    border-radius: 50%; // Make it a circle

    mat-icon {
      color: white; // Color of the logo/icon
    }
  }
}

.tableNumber {
  text-align: center;
  font-size: 18px; // Adjust the font size as needed
  font-weight: bold; // Adjust the font weight as needed
}

mat-card {
  // margin-top: 2%;
  margin-left: 10px;
  margin-right: 10px;
  // padding-top: 45px;
  // padding-bottom: 80px;
}

p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

mat-form-field,
textarea {
  width: 100%;
}

.callWaiter {
  padding-left: 3px;
  font-weight: bold;
  padding-right: 2px;
  font-size: 22px;
  border-radius: 10px;
  background: #01AF29;
  color: white;
}

.askForMenu {
  font-weight: bold;
  margin-left: 3px;
  font-size: 18px;
  border-radius: 5px;
  background: #D3B90A;
  color: white;
}

.readyToOrder {
  font-weight: bold;
  margin-right: 3px;
  font-size: 18px;
  border-radius: 5px;
  background: #8EB62F;
  color: white;
}

.needWater {
  margin-right: 3px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  background: #0091E4;
  padding-top: 5px;
  color: white;
}

.sendMeBill {
  margin-left: 3px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  background: #EA574D;
  color: white;
}

.leaveTable {
  font-weight: bold;
  padding-left: 3px;
  padding-right: 2px;
  font-size: 20px;
  border-radius: 10px;
  background: #EC0000;
  color: white;
}

mat-icon {
  transform: scale(1.8);
}

.spacer {
  padding-top: 2px;
  padding-bottom: 2px;
}

.verticalSpace {
  padding-inline: 5px;
}

.tableNumber {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 15px;

}

.header {
  padding-top: 20px;
  text-align: center;
  color: white;
  transform: scale(1.4);
  padding-bottom: 10px;
}

.inline {
  padding-inline: 10px;
}

.inlineCancel {
  padding-inline: 10px;
  transform: scale(1.6);
}
