
<mat-divider></mat-divider>
<mat-card>
  <p>Table {{tableId}}</p>
  <mat-grid-list cols="1" rowHeight="5:1">
    <mat-grid-tile>
        <button (click)="onCallWaiter()" mat-raised-button color="primary">Call Waiter</button>
      </mat-grid-tile>
  </mat-grid-list>
  <br>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <button (click)="onNeedWater()"  mat-raised-button color="primary">Need Water</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onAskForMenu()" mat-raised-button color="primary">Ask For Menu</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onReadyToOrder()" mat-raised-button color="primary">Ready To Order</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onSendMeBill()" mat-raised-button color="primary">Send Me Bill</button>
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <mat-grid-list cols="1" rowHeight="7:1">
    <mat-grid-tile>
        <button (click)="onLeaveTable()" mat-raised-button color="primary">Leave Table</button>
      </mat-grid-tile>
  </mat-grid-list>
</mat-card>
