<div class="main">
  <app-header></app-header>
  <mat-divider></mat-divider>
  <br />
  <mat-card>
    <p>Table {{ tableId }}</p>
    <mat-grid-list cols="1" rowHeight="4:1">
      <mat-grid-tile (click)="onCallWaiter()" class="callWaiter">
        <button class="callWaiter" mat-flat-button color="primary">
          <mat-icon>room_service</mat-icon>
          Call Waiter
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <br />
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile class="needWater" (click)="onNeedWater()">
        <button class="needWater" mat-flat-button color="primary">
          <mat-icon>local_drink</mat-icon>
          Need Water
        </button>
      </mat-grid-tile>
      <mat-grid-tile class="askForMenu">
        <button
          class="askForMenu"
          (click)="onAskForMenu()"
          mat-flat-button
          color="primary"
        >
          <mat-icon>import_contacts</mat-icon>
          Ask For Menu
        </button>
      </mat-grid-tile>
      <mat-grid-tile class="readyToOrder">
        <button
          class="readyToOrder"
          (click)="onReadyToOrder()"
          mat-flat-button
          color="primary"
        >
          <mat-icon>border_color</mat-icon>
          Ready To Order
        </button>
      </mat-grid-tile>
      <mat-grid-tile class="sendMeBill">
        <button
          class="sendMeBill"
          (click)="onSendMeBill()"
          mat-flat-button
          color="primary"
        >
          <mat-icon>attach_money</mat-icon>
          Send Me Bill
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <br />
    <mat-grid-list cols="1" rowHeight="6:1">
      <mat-grid-tile (click)="onLeaveTable()" class="leaveTable">
        <button class="leaveTable" mat-flat-button color="primary">
          <mat-icon>cancel</mat-icon>
          Leave Table
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <br />
</div>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
