<div class="main">
  <app-header></app-header>
  <mat-divider></mat-divider>
  <br />
  <mat-card>
    <div class="tableNumber">Table {{ tableId }}</div>
    <mat-grid-list cols="1" rowHeight="4:1">
      <mat-grid-tile (click)="onCallWaiter()" class="callWaiter">
        <button class="callWaiter" mat-flat-button color="primary">
          <mat-icon class="inline">room_service</mat-icon>
          Call Waiter
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile class="needWater" (click)="onNeedWater()">
        <div class="container">
          <section class="header">
            <mat-icon>local_drink</mat-icon>
          </section>
          <section class="header-start">
            <button class="needWater" mat-flat-button color="primary">
              Need Water
            </button>
          </section>
        </div>
      </mat-grid-tile>
      <mat-grid-tile (click)="onAskForMenu()" class="askForMenu">
        <div class="container">
          <section class="header">
            <mat-icon>import_contacts</mat-icon>
          </section>
          <section class="header-start">
            <button class="askForMenu" mat-flat-button color="primary">
              Ask For Menu
            </button>
          </section>
        </div>
      </mat-grid-tile>
      <div class="spacer"></div>
      <mat-grid-tile class="readyToOrder">
        <div class="container">
          <section class="header">
            <mat-icon>border_color</mat-icon>
          </section>
          <section class="header-start">
            <button
              class="readyToOrder"
              (click)="openDialog()"
              mat-flat-button
              color="primary"
            >
              Self Ordering
            </button>
          </section>
        </div>
      </mat-grid-tile>
      <mat-grid-tile (click)="sendMessage()" class="sendMeBill">
        <div class="container">
          <section class="header">
            <mat-icon>attach_money</mat-icon>
          </section>
          <section class="header-start">
            <button class="sendMeBill" mat-flat-button color="primary">
              Send Me Bill
            </button>
          </section>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <mat-grid-list cols="1" rowHeight="6:1">
      <mat-grid-tile (click)="onLeaveTable()" class="leaveTable">
        <button class="leaveTable" mat-flat-button color="primary">
          <mat-icon class="inlineCancel">cancel</mat-icon>
          Leave Table
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <br />
</div>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
