<h1 mat-dialog-title><mat-icon>feedback</mat-icon>FeedBack</h1>
<mat-divider></mat-divider>
<br>
<div mat-dialog-content>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It was..." rows="4" cols="50"></textarea>
    </mat-form-field>
  </form>
  <p>Blink Team</p>
</div>
<div mat-dialog-actions>
  <button class="primary" mat-button mat-dialog-close>Send</button>
</div>
