<app-header></app-header>
<h1 mat-dialog-title>Self Ordering Menu</h1>

<div mat-dialog-content>
  <h3>Select your order: <mat-icon>edit</mat-icon></h3>
  <div class="selfOrdering"  *ngFor="let menuItem of items">
    <mat-checkbox (change)="onCheckBoxChange(menuItem.item,$event.checked)">{{menuItem.item}}</mat-checkbox>
  </div>
  <!-- <section class="example-section" [formGroup]="order">
    <h4>You chose:</h4>
    {{ order.value | json }}
  </section> -->
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="closeMe()">Close</button>
  <button
    mat-raised-button
    class="primary"
    (click)="onSelfOrdering()"
    cdkFocusInitial
  >
    Order
  </button>
</div>
